.mainDiv {
  width: 100%;
}
.header {
  margin: 0 auto;
  padding-left: 1%;
  padding-right: 1%;
  max-width: 1185px;
  padding-top: 1%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.bodyDiv {
  background-color: #f7f7f7;
  padding-top: 40px;
}
.imgSearch {
  width: 360px;
  height: 100px;
  color: white !important;
}
.innerInput {
  border: none;
}
textarea:focus,
input:focus {
  outline: none;
}
.links {
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1.5px solid;
  color: #e85826;
}
.clearlinks {
  color: #e85826;
  font-family: ProximaNova-Semibold, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
